{% extends 'base.html' %}
{% block content %}
      <div class="main">
        <!-- content -->
<section class="content">
          <!-- post -->
{% if latest_review_list %}
    {% for review in latest_review_list %}
          <div class="post" enctype="multipart/form-data">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="{% url 'review_detail' review.id review.slug %}">{{ review.name }}</a></h2>
                <p class="tags"><a href="#">{{ review.genres }}</a></p>
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="{{ review.image_field.url }}" width="200" alt=""></a> <a href="{{ review.image_field.url }}" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
              <!-- meta -->
              <div class="meta">
                <p class="date">{{ review.pub_date}} by <a href="#">{{ review.review_user }}</a></p>
                <div class="right">
                  <div class="rating-holder">
                  <p>RATING</p>
                    {% with ''|center:c as range %}
                    
                    {% for i in total_rating %}

                    {% if forloop.counter <= c %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                    </div>
                  {% if user.is_authenticated %}
                  <a href="{% url 'add_review' review.id %}" class="comments">Rate this movie</a> 
                  {% else %}
                  <a href="{% url 'login' %}" class="comments">Do login for Comment</a>
                  {% endif %}
                  </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>{{ review.information }}</p>
                <a href="{% url 'review_detail' review.id review.slug %}" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
        {% endfor %}
            </div>
            <!-- post-inner -->
          </div>
      {% else %}
  <p>No reviews are available.</p>
{% endif %}


<div class="pagination">
    {% if latest_review_list.has_other_pages %}
      <ul>
        {% if latest_review_list.has_previous %}
          <li class="laquo"><a href="?page={{ latest_review_list.previous_page_number }}"><span></span></a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in latest_review_list.paginator.page_range %}
          {% if latest_review_list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if latest_review_list.has_next %}
          <li class="raquo"><a href="?page={{ latest_review_list.next_page_number }}"><span></span></a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</section>
        <!-- end of content -->
        <!-- sidebar -->
        <aside class="sidebar">
          <div class="widget">
            <h3 class="widgettitle">Genres</h3>
            <ul>
              {% for c in categories %}
                <li {% if category.slug == c.slug %} class="active"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="widget socials-widget">
            <h3 class="widgettitle">Get Connected</h3>
            <ul>
              <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
              <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
              <li><a href="#" class="linkedin-ico"><span></span>Linkedin</a></li>
              <li><a href="#" class="you-tube-ico"><span></span>Youtube</a></li>
              <li><a href="#" class="rss-ico"><span></span>RSS</a></li>
            </ul>
          </div>
        </aside>
        <!-- end of sidebar -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of main -->
      <div class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Show All</a></li>
            <li><a href="#">Latest Movies</a></li>
            <li><a href="{% url 'top_commented' %}">Most Commented</a></li>
          </ul>
        </nav>
        <p class="copy">Copyright &copy; 2012 <span>|</span> Sitename. Design by <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
      </div>
    </div>
    <!-- end of shell -->
  </div>
</div>
<!-- end of wrapper -->
{% endblock %}

